[submodule "themes/hugo-twenty-ten"]
	path = themes/hugo-twenty-ten
	url = git@github.com:hzmangel/hugo-twenty-ten.git
[submodule "public"]
	path = public
	url = git@github.com:hzmangel/hzmangel.github.io.git
